/*
 Table Of Contents
 1.) Media Query for Handheld Devices
 2.) Media Query for Tablet
 3.) Media Query for mobile
 ===============================================*/
/*
 1.) Media Query for Handheld Devices
 ===============================*/
@media only screen and (min-width: 992px) and (max-width: 1229px) {
	.navigation > li {
		padding: 18px 13px 18px 13px;
	}
	.header-info {
		padding: 0px 12px 0px;
	}
	.header-info .contact-det ul li a {
		padding: 0px 5px 0px 5px;
		font-size: 12px;
	}
	.header-info .social-det select {
		margin-right: 0;
	}
	.header-info .social-content {
		padding: 12px 0 12px 0;
	}
	nav .header-search {
		padding: 17px 0px 17px 0px;
	}
	.header-info .social-det ul li {
		margin-left: 8px;
	}
	select {
		width: 228px;
	}
	input.search-bar[type="text"] {
		right: 0;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1250px) {

}

/*
 2.) Media Query for Tablet
 ===============================*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-info {
		padding: 0px 12px;
	}
	input.search-bar[type="text"] {
		right: 0;
	}
	.header-info .contact-det ul li a {
		padding: 0px 7px 0px 7px;
	}
	.header-info .social-det {
		float: none;
		padding-top: 18px;
		display: block;
		overflow: hidden;
		width: 100%;
	}
	.header-info .social-det .login {
		float: right;
	}
	.header-cont {
		position: relative;
		padding-bottom: 50px;
	}
	nav.navbar {
		position: absolute;
		left: 0;
	}
	.navigation > li {
		padding: 18px 13px 18px 13px;
	}
	.navigation > li:first-child {
		padding-left: 12px;
	}
	.header-info .social-content {
		padding: 13px 0 13px 0;
	}
	.navigation li:hover .drop-down {
		top: 100%;
	}
	nav .header-search {
		float: right;
		padding: 16px 0px 16px 0px;
		margin-right: 10px;
	}
	.header-info .social-det ul li:first-child {
		margin-left: 0;
	}
	select {
		width: 160px;
	}
	.percent {
		font-size: 55px;
	}
	.fa-arrow-right {
		bottom: 180px;
	}
}

/*
 3.) Media Query for mobile
 ===============================*/

@media only screen and (max-width: 767px) {

	.header {
		background: #fff;
		position: relative;
		z-index: 99;
	}
	input.search-bar[type="text"] {
		right: 0;
	}
	.header .container .row > div.col-xs-12 {
		padding: 0;
	}
	.selectBox-dropdown-menu {
		top: 127px !important;
	}
	.navbar {
		position: absolute;
		top: 0px;
		right: 0px;
		border: none;
	}
	.logo {
		width: 145px;
		float: none;
		text-align: center;
		display: block;
	}
	.navigation {
		border-top: 2px solid #fff;
	}
	.navigation > li {
		float: none;
		width: 100%;
		text-align: left;
		border-bottom: 1px dotted #fff;
		padding: 0;
	}
	.drop-down {
		position: static;
		visibility: visible;
		opacity: 0.5;
		display: none;
		width: 100%;
	}
	.navigation li:hover .drop-down {
		opacity: 0.5;
	}
	.drop-down li {
		border-top: 1px dotted #fff;
		padding: 0;
	}
	.drop-down li a {
		padding: 10px 0px 10px 50px !important;
	}
	.navigation > li a {
		padding: 15px 0px 15px 20px;
		color: #fff;
		display: block;
	}
	.nav > li > a:hover, .nav > li > a:focus {
		background: none;
	}
	.navigation.navbar-nav {
		background: #5e382d none repeat scroll 0 0;
		margin: 0;
		width: 100%;
		float: none;
	}
	.drop-down-parent .fa.fa-angle-down, .drop-down-parent .fa.fa-angle-up {
		position: absolute;
		right: 15px;
		top: 7px;
	}
	.drop-down-parent.active-arrow .fa.fa-angle-down {
		display: none;
	}
	.drop-down-parent .fa.fa-angle-down {
		display: block;
	}
	.drop-down-parent.active-arrow .fa.fa-angle-up {
		display: block;
	}
	.header-info {
		display: block;
		width: 100%;
		padding: 0 15px 0 15px;
	}
	.logo img {
		display: inline-block;
	}
	.header-info .contact-det ul li a {
		padding: 0px 5px 0px;
	}
	.header-info .contact-det ul li {
		margin-bottom: 5px;
	}
	.header-info .social-det {
		float: none;
		width: 100%;
		overflow: hidden;
		margin-top: 0px;
	    display: inline;
	}
	.header-info .social-det .login {
		float: right;
	}
	nav .navigation, .navbar-collapse {
		background: #ffffff;
	}
	.navbar-collapse {
		border-top: 0;
		margin-top: 25px;
	}
	.header-info .social-content {
		padding: 10px 0 10px 0;
	}
	nav .header-search {
		float: none;
		text-align: center;
		padding-top: 5px;
	}
	.fa-arrow-right {
		top: 33%;
		bottom: auto;
		display: none !important;
	}

    .login-pg {
        /*position: relative;*/
    }

    .bg-img {
        min-height: 80vh;
    }
    .reg-img {
            min-height: 115vh;
    }

}

 @media ( max-width: 480px ) { 
            .login-register-page__content {
                max-width: unset !important;
                width: 100% !important;
            }
        }