<section class="banner">
    <div id="rev_slider_wrapper">
        <div id="rev_slider_202_1_wrapper" class="rev_slider_wrapper " data-alias="concept1" style="background-color:#000000;padding:0px;">
            <!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
            <div id="rev_slider_202_1" class="rev_slider" style="display:none;" data-version="5.1.1RC">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-672">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/Land-Rover-Range-Rover-Car-HD-Wallpapers.jpg" alt="" class="rev-slidebg" data-no-retina>
                    </li>
                    <li data-index="rs-672">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/Land-Rover-Range-Rover-Car-HD-Wallpapers.jpg" alt="" class="rev-slidebg" data-no-retina>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--reserve car section start -->
    @Html.Partial("Partials/_Search")
    <!--reserve car section start -->
</section>
