        <!-- HERO SECTION -->
<section class="hero-section">
    <div id="slider-revolution">
        <ul>
            <li data-slotamount="7" data-masterspeed="500" data-title="Slide title 1">
                <img src="~/images/01.png" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">
            </li>
            @*<li data-slotamount="7" data-masterspeed="500" data-title="Slide title 1">
                    <img src="~/images/bg/1.jpg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">
                </li>*@
        </ul>
    </div>
</section>
<!-- END / HERO SECTION -->
@Html.Partial("Partials/_Search")
