<!-- SEARCH TABS -->

        <!-- SEARCH TABS -->
<section class="main-search" style="margin-bottom: 2em;">
    <div class="container">
        <div class="awe-search-tabs-2 tabs" style="">
            <ul>
                <li>
                    <a href="#awe-search-tabs-4">
                       Find A Vehicle <span class="pull-right"><span class="clr-theme">12 640</span> Available</span>
                    </a>
                </li>
            </ul>
            <div class="awe-search-tabs__content tabs__content">

                <div id="awe-search-tabs-4" class="search-car">
                    <form>
                        <div class="form-group">
                            <div class="form-elements">
                                <div class="form-item">
                                    <i class="awe-icon awe-icon-marker-1"></i>
                                    <input type="text" value="Picking up: City, area...">
                                </div>
                            </div>
                            <div class="form-elements">
                                <div class="form-item">
                                    <i class="awe-icon awe-icon-marker-1"></i>
                                    <input type="text" value="Droping off: City, area...">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-elements">
                                <div class="form-item">
                                    <i class="awe-icon awe-icon-calendar"></i>
                                    <input type="text" class="awe-calendar" value="Pick off">
                                </div>
                            </div>
                            <div class="form-elements">
                                <div class="form-item">
                                    <i class="awe-icon awe-icon-calendar"></i>
                                    <input type="text" class="awe-calendar" value="Drop off">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="Search">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END / SEARCH TABS -->
