<div class="reserve-form">
    <div class="container">
        <div class="row reserve-form-wrap">
            <div class="form-head clearfix">
                <div class="location">
                    <h2>Reserve your Vehicle</h2>
                </div>
            </div>

            <form>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">

                        <label>Picking Up locations</label>
                        <div class="input-wrap clearfix">
                            <input type="text" class="form-control" placeholder="Airport or address">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label>Picking Up Date</label>
                        <div class="input-wrap clearfix">
                            <input type="text" class="form-control pick-date" placeholder="04/03/2015">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label>Picking Up Time</label>
                        <div class="input-wrap clearfix">
                            <input type="text" class="form-control time-pick" placeholder="21:40 am">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>

                    </div>
                </div>
                <input type="checkbox" name="vehicle2" value="Car" id="car-check">
                <label class="check" for="car-check"><span class="check-box"></span> Return to the same location </label>
                <button class="find-car">
                    <i class="fa fa-binoculars" aria-hidden="true"></i>Find Vehicle
                </button>
            </form>

        </div>
    </div>
</div>
