@{
    ViewBag.Title = "Home Page";
}

<!--banner Section start-->
@Html.Partial("Partials/_Cover")

<!-- MASONRY -->
<br/>
<section class="masonry-section-demo">
    <div class="container">
        <div class="destination-grid-content">
            <div class="section-title">
                <h3>Popular <a href="#">Vehicle</a> Types</h3>
            </div>
            <div class="row">
                <div class="awe-masonry">
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/VehicleTypes/truck1.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Tipper</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">20M3</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">845</span>
                            Times Book Today
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/VehicleTypes/Truck2.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Truck</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">Medium</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">132</span>
                            Times Book Today
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/VehicleTypes/truck2.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Tipper</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">40M3</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2341</span>
                            Times Book Today
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/VehicleTypes/truck1.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Truck</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">Medium</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2531</span>
                            Times Book Today
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/VehicleTypes/truck1.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Tipper</a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">20M3</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2531</span>
                            Times Book Today
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/VehicleTypes/truck2.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Truck </a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">Large</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2531</span>
                            Time Book Today
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/VehicleTypes/truck2.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Truck </a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">Large</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2531</span>
                            Time Book Today
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/VehicleTypes/truck2.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Truck </a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">Large</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2531</span>
                            Time Book Today
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                    <!-- GALLERY ITEM -->
                    <div class="awe-masonry__item">
                        <a href="#">
                            <div class="image-wrap image-cover">
                                <img src="~/images/VehicleTypes/truck2.jpg" alt="">
                            </div>
                        </a>
                        <div class="item-title">
                            <h2><a href="#">Truck </a></h2>
                            <div class="item-cat">
                                <ul>
                                    <li><a href="#">Large</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-available">
                            <span class="count">2531</span>
                            Time Book Today
                        </div>
                    </div>
                    <!-- END / GALLERY ITEM -->
                </div>
            </div>
            <div class="more-destination">
                <a href="#">More Vehicle Types</a>
            </div>
        </div>
    </div>
</section>
<!-- END / MASONRY -->


<!--banner Section End-->
