@{
    ViewBag.Title = "Login";
}

@section header{
    <style>
        .awe-search-tabs-2 {
            left: auto;
        }
        .nav-tabs > li {
            width: 50%;
            display: inline-block;
        }
        .nav-tabs {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        .nav-tabs > li:nth-child(1) {
            border-top-left-radius: 2px;
        }
        .nav-tabs > li:nth-child(2) {
            border-top-right-radius: 2px;
        }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            background-color: #302E98;
            border-radius: 0px;
            color: #FFF;
            border-color: #302E98;
        }
        .login-register-page__content .login-register-link {
            background-color: rgba(255, 246, 246, 0.8);
            color: #262626;
        }
        .nav-tabs .active i { 
            padding-right: 7px;
        }
    </style>
}

<section class="bg-img login-page-demo" style="min-height: 100vh">
    <div class="awe-overlay"></div>
    <div class="container">
    </div>
</section>

<section class="awe-parallax login-page-demo login-pg cvr-padding-top col-xs-12">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="login-register-page__content">
            <div class="content-title">
               @* <span>Welcome back</span>*@
            </div>

                <ul class="nav nav-tabs bg-white" style="border-bottom: 0px">
                    <li class="active">
                        <a href="#login-customer" data-toggle="tab" class="brd-t-0">
                            <i class="fa fa-user"></i> SignIn as Customer
                        </a>
                    </li>
                    <li>
                        <a href="#login-customer" data-toggle="tab" class="brd-t-0">
                            <i class="fa fa-truck"></i>  SignIn as Driver
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="login-customer" class="tab-pane fade in active">
                        <form class="my-0 brd-t-0">
                            <div class="form-item">
                                <label>Email</label>
                                <input type="email">
                            </div>
                            <div class="form-item">
                                <label>Password</label>
                                <input type="password">
                            </div>
                            <a href="#" class="forgot-password">Forgot Password</a>
                            <div class="form-actions">
                                <input type="submit" value="Log In">
                            </div>
                        </form>

                    </div>
                </div>

            <div class="login-register-link">
                Dont have account yet? <a href="#">Register HERE</a>
            </div>
        </div>
    </div>
</section>
